.login-container {
    width: 800px;
    height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -150px;
    margin-left: -400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-title {
    width: 350px;
}
.login-form {
    width: 300px;
}

.login-form-button {
    width: 100%;
}